
@media (min-width: 320px) and (max-width: 480px) {
    body {
        font-size: 12px !important;
        font-family: 'Inter', sans-serif;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    body {
        font-size: 14px;
        font-family: 'Inter', sans-serif;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 16px;
        font-family: 'Inter', sans-serif;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    body {
        font-size: 16px;
        font-family: 'Inter', sans-serif;
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {
    body {
        font-size: 16px;
        font-family: 'Inter', sans-serif;
    }
}

@media (min-width: 1441px) and (max-width: 1920px) {
    body {
        font-size: 16px;
        font-family: 'Inter', sans-serif;
    }
}